h1 {
	font-size: 14px;
}

th {
	text-align: left;
}

#goodJob{
	height: 100px;
	width: 100px;
	display: none;
	position: absolute;
	top: 100px;
	left: 600px;
}

#textbox {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: italic;
	float: left;
}

#addContainer{
	padding-left: 200px;
	padding-right: 200px;
}

#addTask {
	float: right;
}

#taskContainer{
	padding-left: 200px;
	padding-right: 200px;
}

#myButton{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: medium;
}

#allButton{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: medium;
}

.taskText{
	font-family: 'Indie Flower', cursive;
	font-size: 16px;
	display:inline;
}

#removeTask{
	float: right;
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
}

.strikethrough:checked + span{
	text-decoration: line-through;
	color: green;
}

.buttonDelete{
	float: right;
	display: none;
}

.taskContents:hover .buttonDelete {
	display: inline;
}

#checkbox{
	float:left;
	display:none;
}

.checkbox:hover #checkbox{
	display:inline;
}
